body {
  font-family: helvetica;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  /* min-width: 1440px;
  height: 100vh; */
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

#header {
  background: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: cover;
  padding: 0 0 20em 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  float: left;
}

.logo h1 {
  color: black;
  font-size: 1.75rem;
  font-weight: bold;
  padding-left: 1em;
}

nav {
  float: right;
  display: block;
  margin-top: 1em;
  margin-right: 1em;
}

nav li {
  display: inline-block;
  padding: 1.25em;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  background-color: darkslategrey;
  padding: .5em .75em;
  border-radius: 5px;
}

nav a:hover {
  text-decoration: inherit;
  transition: 0.5s;
  color: #333;
  background-color: rgb(222, 241, 241);
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 2px solid green;
}

.header h2::first-letter {
  color: darkslategrey;
  font-size: 3rem;
}

.header h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1em;
}

#process {
  margin-top: 18em;
}

.process-menus {
  display: flex;
  flex-flow: row;
  width: 90%;
  padding: 1em;
  margin: 0 auto;
}

.process-menus img {
  width: 10em;
  height: 3.5em;
  padding: 1em;
}

.process-menus h3 {
  font-size: 1.5rem;
}

.process-menus p {
  font-size: 1.2rem;
}

.identify {
  width: 33.33%;
}

.identify:hover {
  background: rgb(223, 238, 204);
  transition-duration: 0.5s;
}

.understand {
  width: 33.33%;
}

.understand:hover {
  background: rgb(222, 241, 241);
  transition: 0.5s;
}

.execute {
  width: 33.33%;
}

.execute:hover {
  background: rgb(240, 193, 193);
  transition: 0.5s;
}

#work {
  background: rgb(224, 221, 221);
  width: 100%;
  height: auto;
  padding: 2em;
}

#team {
  background: darkslategrey;
  width: 100%;
  height: auto;
  padding: 2em;
  border-left: 1px solid darkslategrey;
  border-right: 1px solid darkslategrey;
  margin: 0 auto;
  color: white;
}

#team>article {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

#team>article div {
  width: 33.33%;
  padding: 1em;
}

#team>article img {
  width: 8em;
  height: 6em;
}

#team>article p {
  padding-bottom: 1em;
}

#team>article a {
  text-decoration: none;
  color: darkslategray;
  padding: .5em;
  background: #fff
}

#team>article a:hover {
  border: 1px solid red;
  background: darkslategray;
  color: #fff;
  transition: 0.5s;
}

#contact {
  background: rgb(224, 221, 221);
  width: 100%;
  height: auto;
  padding: 2em;
  margin: 0 auto;
}

.footer {
  background: black;
  color: white;
  width: 100%;
  height: auto;
  padding: 2em;
  margin: 0 auto;
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 1em;
  font-size: 1rem;
}