body {
  font-family: helvetica;
  text-align: center;
  margin: 0 auto;
  overflow: auto;
  width: 100%;
  height: auto;
}

#header {
  display: block;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40vh;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  float: left;
  padding-left: 1em;
}

.header-menu {
  float: right;
}

#header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

#header nav {
  display: block;
  list-style: none;
  text-decoration: none;
}

nav > li {
  display: inline-block;
  padding: 1em;
}

#header a {
  font-size: 1.05rem;
  color: white;
  text-decoration: none;
  padding: 0.5em;
  background-color: dimgray;
}

#process .header {
  text-align: center;
}


.process-menus {
  float: left;
}

.identify {
  width: 33.33%;
}

.understand {
  width: 33.33%;
}

.execute {
  width: 33.33%;
}

#process-menus h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

#work {
  width: 100%;
  height: 40vh;
  clear: left;
}

#work h2 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin: 0 auto;
}

.footer p {
  color: white;
  font-size: 11px;
  background-color: dimgray;
}

.footer a {
  color: white;
  font-size: 14px;
}

.footer {
text-align: left !important;
}
